<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/styles.css')}}" type = "text/css">
    
</head>
<body>
    <h1>Password Generator</h1>
    <form id="passwordForm">
        <label>
            Uppercase:
            <input type="checkbox" name="include_upper">
        </label><br>
        <label>
            Lowercase:
            <input type="checkbox" name="include_lower">
        </label><br>
        <label>
            Numbers:
            <input type="checkbox" name="include_numbers">
        </label><br>
        <label>
            Special Characters:
            <input type="checkbox" name="include_special">
        </label><br>
        <label>
            Exclude Characters:
            <input type="text" name="exclude_char">
        </label><br>
        <label>
            Password Length:
            <input type="number" name="length" value="12">
        </label><br>
        <label>
            Keyword (Optional):
            <input type="text" name="keyword">
        </label><br>
        <button type="submit">Generate Password</button>
    </form>
    <h2>Generated Password:</h2>
    <p id="generatedPassword"></p>

    <!-- Dynamically load JavaScript file -->
    <script src="{{ url_for('static', filename='js/generate_password.js') }}"></script>
</body>
</html>