<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/generate_password.css')}}" type="text/css">
</head>
<body>

    <div class="card">
        <h1>Password Generator</h1>

        <!-- Alert Box -->
        <div id="alertBox" class="alert hidden"></div>

        <form id="passwordForm">
            <label>
                Uppercase:
                <input type="checkbox" name="include_upper">
            </label>
            <label>
                Lowercase:
                <input type="checkbox" name="include_lower">
            </label>
            <label>
                Numbers:
                <input type="checkbox" name="include_numbers">
            </label>
            <label>
                Special Characters:
                <input type="checkbox" name="include_special">
            </label>
            <label>
                Exclude Characters:
                <input type="text" name="exclude_char">
            </label>
    
            <label>
                Password Length:
                <input type="number" name="length" id="passwordLength" value="12" min="12" max="64" required>
            </label>
            
            <label>
                Keyword (Optional):
                <input type="text" name="keyword">
            </label>
            
            <button type="submit">Generate Password</button>
        </form>

        <div class="password-display">
            <!-- Password input -->
            <input type="password" id="generatedPassword" readonly value="">
        
            <!-- Action buttons -->
            <div class="input-container">
                <button type="button" id="toggleVisibility" title="Show/Hide Password">👁️</button>
                <button type="button" id="copyPassword" title="Copy Password">📋</button>
            </div>
        </div>        
        
    </div>

    <script src="{{ url_for('static', filename='js/generate_password.js') }}"></script>
</body>
</html>
