<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Tools</title>
    <meta name="description" content="Password Tools - Generate and check the strength of your passwords securely and easily!">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

    <!-- Header Brand Name -->
    <header>EncryptPass</header>

    <!-- Title Section -->
    <h1>Password Tools</h1>

    <div class="button-container">
        <button onclick="window.location.href='/generate_password'">Generate Password</button>
        <button onclick="window.location.href='/check_password_strength'">Check Password Strength</button>
    </div>

    <footer>
        <button 
            class="about-button"
            onclick="window.location.href='/about'"
            style="
                background-color: #4bb2c4; 
                color: #fff; 
                padding: 10px 20px; 
                font-size: 1rem; 
                cursor: pointer; 
                border: none; 
                border-radius: 5px;
            ">
            Password Policy & Authentication Guidelines
        </button>
    </footer>
    

</body>
</html>
