<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Strength Checker</title>
    <meta name="description" content="Check the strength of your passwords instantly! Get feedback and tips to create secure and strong passwords with our Password Strength Checker.">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/password_strength.css') }}" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">

</head>
<body>
    <div class="card">
        <h1>Password Strength Checker</h1>

        <!-- Password Input -->
        <input type="password" id="password" placeholder="Enter your password">

       <!-- Input Buttons -->
       <div class="input-container">
            
        <button type="button" id="toggleVisibility" title="Show/Hide Password">
            <ion-icon id="visibilityIcon" name="eye-outline"></ion-icon>
        </button>        

        <button type="button" id="copyPassword" title="Copy Password">
            <ion-icon name="clipboard-outline"></ion-icon>
        </button>
        

    </div>

        <!-- Result Section -->
        <div id="result">
            <p><strong>Strength:</strong> <span id="strength"></span></p>
            <p><strong>Feedback:</strong> <span id="feedback"></span></p>
            <p><strong>Crack Time:</strong> <span id="crack_time"></span></p>
            <!-- <p><strong>Pwned:</strong> <span id="pwned"></span></p> -->

            <p>
                <strong>Pwned:</strong> 
                <span id="pwned"></span>
                <button id="pwnedInfoButton" title="Click to learn more" style="background: none; border: none; cursor: pointer;">
                  <ion-icon name="information-circle-outline" size="small"></ion-icon>
                </button>
              </p>
              
              <div id="pwnedInfoText" class="hidden info-text">
                <p>
                  <strong>What does "Pwned" mean?</strong><br>
                  If a password has been "pwned", it means it has appeared in known data breaches. A high pwned count means many people have used this password and it was leaked in breaches, making it unsafe to use.
                </p>
              </div>              

            <p><strong>Pwned Count:</strong> <span id="pwned_count"></span></p>
            <p><strong>OWASP Length Rating:</strong> <span id="length_rating"></span></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/password_strength.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


    <!-- Alert Box -->
    <div id="alertBox" class="alert hidden"></div>

</body>
</html>
